---
import { BUSINESS } from '../config/business';
---

<div class="faq-list">
  {BUSINESS.faq.map((item) => (
    <details class="faq-item">
      <summary class="faq-summary">
        <span class="faq-q">{item.question}</span>
        <span class="faq-icon" aria-hidden="true"></span>
      </summary>
      <div class="faq-body">
        <p>{item.answer}</p>
      </div>
    </details>
  ))}
</div>
